.Programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 1rem;
}

.programs-main-header>:nth-child(1) {
    color: var(--orange);
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
}

.programs-main-header>:nth-child(2) {
    font-weight: 400;
    font-size: 1.5rem;
    justify-content: center;
    color: white;
    text-transform: lowercase;
    display: flex;
}


.program-categories {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.category>img,
.contact-us>img {
    width: 30px;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: #3a2b3f;
    padding: 2rem;
    gap: 1rem;
    color: white;
    width: 15rem;
    justify-content: space-between;
}

.category>:nth-child(1) {
    width: 2rem;
    height: 2rem;
    fill: white;
}

.category>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.category>:nth-child(3) {
    font-size: 0.9rem;
    line-height: 25px;
}

.contact-us {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contact-us>img {
    width: 1rem;
}

.category:hover {
    background: var(--planCard);
    cursor: pointer;
}