.testimonials {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.testimonials::after {
    content: "";
    position: absolute;
    /* background-image: url("../../assets/img/five.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    width: 100%;
    height: inherit;
    opacity: 0.1;
    left: 0;
    background-color: aquamarine;
}

.left-t {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    color: white;
    margin-bottom: 2rem;
}

.testimonials>:nth-child(1) {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

/* .left-t>:nth-child(2),
.left-t>:nth-child(3) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
} */


.customerName {
    color: var(--orange);
    text-transform: uppercase;
    font-weight: bold;
}

.corousel-content {
    text-align: center;
}

.corousel-content>div:nth-child(1) {
    margin-top: 1%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 1% 14%;
    font-style: italic;
}

.corousel-content>div:nth-child(2) {
    color: var(--orange);
    margin-top: 1%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.corousel-content>div:nth-child(3) {
    margin-top: 1%;
    margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
    .testimonials>:nth-child(1) {
        font-size: xx-large;
        align-items: center;
        text-align: center;
    }
}