header {
    display: flex;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 24px;
}

.logo-header>:nth-child(1) {
    line-height: 19px;
    letter-spacing: 17px;
    font-size: 3rem;
    color: var(--orange);
}

.logo-header>:nth-child(2) {
    line-height: 19px;
    font-size: 1rem;
    color: var(--orange);
    margin-top: 10px;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    position: relative;
    right: 8%;
    bottom: 20%;
}

.header-menu>li {
    cursor: pointer;
    font-weight: 700;
}

.header-menu>li>a:hover {
    cursor: pointer;
    color: var(--orange);
}

header {
    background-color: #2d2e2e;
    height: 10vh;
    line-height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.logo>img {
    height: 25px;
}

header a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.fa-icon {
    padding: 5px;
}