.header-menu {
    display: flex;
    justify-content: space-between;
    background-color: #3a2b3f;
    line-height: 5vh;
}

.logo-header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 24px;
}

.logo-header>:nth-child(1) {
    line-height: 19px;
    letter-spacing: 17px;
    font-size: 3rem;
    color: var(--orange);
    animation: reveal 3000ms ease-in-out forwards 200ms,
        glow 2500ms linear infinite 2000ms;
}

.logo-header>:nth-child(2) {
    line-height: 19px;
    font-size: 1rem;
    color: var(--orange);
    margin-top: 10px;
    letter-spacing: 1px;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    color: white;
    padding-top: 1%;
    padding-right: 2%;
    box-shadow: 0px 1px 10px #999;
}

.list-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    vertical-align: middle;
}

.list-menu>ul>li {
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

.list-menu>ul>li>a {
    color: white;
}

.list-menu>ul>li>a:hover {
    cursor: pointer;
    color: var(--orange);
    text-decoration: none;
}

.list-menu>ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}


/* header {
    background-color: #2d2e2e;
    height: 10vh;
    line-height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
} */

.logo>img {
    height: 25px;
}

header a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.fa-icon {
    padding: 5px;
}


@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}


@media screen and (max-width: 768px) {
    .header-menu>:nth-child(2) {
        position: fixed;
        z-index: 99;
        gap: 2rem;
        margin: auto;
        text-align: center;
    }

    .list-menu {
        flex-direction: column;
    }

    .list-menu>ul {
        flex-direction: column;
        width: 25rem;
        background: var(--appColor);
        box-shadow: 0 1px 10px #999;
    }

    .logo-header {
        margin-left: 13%;
    }
}