.hero {
    display: flex;
    justify-content: space-between;
}

.left-h {
    padding: 2rem;
    padding-top: 4.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.right-h {
    flex: 1;
    position: relative;
    background-color: var(--orange);
}

.the-best-acc {
    background-color: #3a2b3f;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

.the-best-acc>span {
    z-index: 2;
}

.the-best-acc>div {
    position: absolute;
    background-color: var(--orange);
    width: 11.5rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    text-align: center;
    margin: auto;
}

.hero-text>div:nth-of-type(3) {
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    width: 70%;
    text-align: center;
    margin: auto;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons>:nth-child(1) {
    color: white;
    background-color: var(--orange);
    width: 8rem;
}

.hero-buttons>:nth-child(2) {
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
}

.right-h>.btn {
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: black;
}

.hero-img {
    position: absolute;
    top: 2rem;
    right: -11rem;
    width: 68rem;
    height: 40rem;
}

.blur-hero {
    width: 22rem;
    height: 30rem;
    left: 0;
}

.annoucement {
    align-items: start;
    background-color: var(--darkGrey);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    right: 3rem;
    top: 17rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--darkGrey);
    animation: slide-in 4000ms;
    animation-iteration-count: infinite;


}

.annoucement>:nth-child(2) {
    color: var(--gray);
}

.annoucement>:nth-child(3) {
    color: white;
    font-size: 1.5rem;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/img/bgg.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
}